* {
    margin: 0;
    padding: 0;
    color: #0099ff;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

body {
    overflow-x: hidden;
}

#Anas {
    position: absolute;
    width: 100%;
    top: 15%;
    z-index: 1;
}

#search {
    top: -25%;
    left: 40%;
    position: relative;
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.452);
    color: rgb(14, 11, 11);
    border-radius: 11%;
    border-width: 9%;
    border: rgb(255, 0, 0);
    width: 300px;
    height: 20px;
}

nav {
    height: 8rem;
    width: 100vw;
    background-color: silver;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.575);
    display: flex;
    position: fixed;
    z-index: 10;
}

.left {
    margin: 0%;
    text-align: center;
}

#src {
    height: 4rem;
    text-align: center;
    align-items: center;
    position: relative;
    left: 15.9%;
}

#as {
    position: relative;
    top: -25%;
    left: 50%;
}

.links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    top: 200px;
}

a {
    text-decoration: none;
    margin: 0 0.7vw;
}

a:hover {
    color: #ff5100;
}

.links li {
    position: relative;
}

a::before {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #a36464;
    position: absolute;
    transition: all ease-in-out 500ms;
    margin: 0 0 0 10%;
}

a:hover::before {
    width: 80%;
}

.menu div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.menu {
    display: none;
}

@media screen and (max-width:800px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    #src {
        float: left;
        left: 10px;
    }
    .menu {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, 50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    #search {
        width: 70vw;
        top: 62%;
        left: 1%;
    }
    .links {
        position: fixed;
        background: rgba(158, 158, 158, 0.897);
        height: 100%;
        top: 0;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    #search {
        font-size: 10px;
    }
    #src {
        position: absolute;
        left: 20%;
    }
    li {
        opacity: 0;
    }
    li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    li:nth-child(3) {
        transition: all 0.5s ease 0.7s;
    }
    li:nth-child(4) {
        transition: all 0.5s ease 0.9s;
    }
    li.fade {
        opacity: 1;
    }
}

@media screen and (max-width:200px) {
    #Anas {
        top: 21%;
    }
}

@media screen and (min-width:1024px) {
    #Anas {
        top: 5%;
    }
}

.toggle.line1 {
    transform: rotate(45deg);
    translate: (-5px, 6px);
}

.toggle.line2 {
    transition: all 0.7s ease;
    width: 0;
    ;
}

.toggle.line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}